[Unit]
Description= MONGO_CRON_CHECK
After=network.target

[Service]
ExecStart=/home/ubuntu/.local/share/virtualenvs/cron_check-xrBXoVtk/bin/python /home/ubuntu/cron_check/mongo_dump_cron.py 192.168.1.125 mongo_dump
WorkingDirectory=/home/ubuntu/cron_check
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target