[Unit]
Description= RC_TIME_PUSH_CRON_CHECK
After=network.target

[Service]
ExecStart=/home/ubuntu/.local/share/virtualenvs/cron_check-xrBXoVtk/bin/python /home/ubuntu/cron_check/push_time_to_RC.py 192.168.1.125 rc_time_push
WorkingDirectory=/home/ubuntu/cron_check
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target